.all-page {
    width: 650px;
    text-align: left;
    margin: auto;   
}

.h1-text{
    color: #333333;
    text-align:center;
}

.h2-text{
    color: #333333;
    text-align:center;
}
.inline-img{
    display: inline-flex;
    align-items: center;
    
}
.table-word{
    text-align:center;
    margin:auto;
}

.tables {
    text-align: left;
}

.base {
    color: #333333;
    background-color: rgb(26, 115, 232);
    color: white;
}

.tableTop {
    height: 20px;
    color: #333333;
    background-color: rgb(26, 115, 232);
    color: white;
}

.th-text {
    color: #333333;
}

.tword {
    width: 200px;
    height: 20px;
    text-align: left;
}

.tmean {
    width: 300px;
    height: 20px;
    text-align: left;
}

.tableNo {
    width: 50px;
    height: 20px;
    text-align: center;
}



.d1parent {
    width:400px;
    display: flex;
    margin: auto; 
}

.d2parent {
    width:400px;
    display: flex;
    margin: auto; 
}

.d1child {
    text-align: left;
    margin-right: 20px;
    color: #333333;
}

.btnLi {
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
    color: #333333;
}

.in {
    width: 200px;
    margin-bottom: 15px;
}

.btnAndText {
    display: flex;
    margin-top: 15px;  
}

.btn {
    width: 90px;
    color: #333333;
}

.word-parent {
    margin-top: 10px;
}

.allow {
    width:400px;
    margin:auto;
}

#btnLeft{
    margin-right: 20px;
}

#btnRight{
    margin-right: 50px;
}

#start{
    margin-left: 145px;
}

#question{
    margin-left: 145px;

}

#btnRegister {
    margin-right: 28px;
}

#btnRemove {
    margin-right: 22px;
}


#testPage {
    height: 500;
}

.q-btn-list{
    width:400px;
    margin: auto; 
}
